<div class="container p-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Editar Videojuego</h3>
                </div>
                <div class="card-body">
                    <form action="/videojuego/edit/{{videojuego.idjuegos}}" method="POST">
                        <div class="input-group mt-2 mb-3">
                            <label for="idcategoria" class="input-group-text">Id Categoria</label>
                            <input type="text" class="form-control" id="idcategoria" name="idcategoria" value="{{videojuego.idcategoria}}" autofocus required>
                        </div>
                        <div class="input-group mt-2 mb-3">
                            <label for="idconsola" class="input-group-text">Id Consola</label>
                            <input type="text" class="form-control" id="idconsola" name="idconsola" value="{{videojuego.idconsola}}" required>
                        </div>
                        <div class="input-group mt-2 mb-3">
                            <label for="nombre" class="input-group-text">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" value="{{videojuego.nombre}}">
                        </div>
                        <div class="form-group mt-4 d-grid gap-2">
                            <button type="submit" class="btn btn-success">Editar Videojuego</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>