<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <div class="alert alert-danger">
                <h4 class="alert-heading">Página no encontrada</h4>
                <p>La página que estás buscando no existe.</p>
                <hr>
                <a href="/" class="btn btn-primary">Volver al inicio</a>
            </div>
        </div>
    </div>
</div>