<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="color: navy;">
            <div class="card-header" style="background-color: silver;">
                <img class="card-img-top mx-auto m-2" src="/img/logo.png" alt="Logo"
                    style="width: 300px; height: 200px; display: block;">
                <h3 class="text-uppercase text-center p-4">Sistema de Control de Videojuegos VLA</h3>
            </div>
            <div class="card-body text-center">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus expedita ex ea deserunt
                    dignissimos unde. Aspernatur corrupti omnis maiores praesentium tempore, odio inventore? At cum hic
                    eligendi, eveniet accusamus in.</p>
                    <a href="/videojuego/add" class="btn btn-primary m-2">Crear videojuego</a>
            </div>
        </div>
    </div>
</main>